body {
  margin: 50px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #009578;
  border-bottom: 2px solid #009578;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.result-text {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  color: #291b25;
}

.text-wrapper-7 label,
.text-wrapper-4 label,
.text-wrapper-11 label {
  width: 408.34px; /* Set the width of the labels */
  height: 48px;
  text-align: left;
  margin-right: 10px; /* Adjust margin as needed */
}

